html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}


#background{
	height: 600px;
	width: 1125px;
	background-color: #5BA3D6;
	margin: auto;
	margin-top: 100px;
	padding: 25px;

}

div {
	float: left;
	margin-left: 50px;
}

label {
	font-family: sans-serif;
	color: white;
	font-size: 13px;
	display: block;
	margin-bottom: 5px;
}

label.spacer {
	margin-top: 40px;
}

/*If I use class or ID, doesn't work. why need to use new selector?*/
input[type="text"] {
	background-color: #5BA3D6;
	border: 2px solid white;
	padding: 10px; 
	outline: none;
	color: white;
	font-size: 13px;
	font-family: Arial;
	width: 300px;
}

input[type="text"]:focus {
	border: 2px solid #2A6A98;
}

input[type="email"] {
	background-color: #5BA3D6;
	border: 2px solid white;
	padding: 10px; 
	outline: none;
	color: white;
	font-size: 13px;
	font-family: Arial;
	width: 300px;
}

input[type="email"]:focus {
	border: 2px solid #2A6A98;
}


::-webkit-input-placeholder {
	color: #346F9B;
	font-style: italic;
	font-size: 13px;
}

select {
    width: 300px;
    border: 1px solid #93A5B1;
    background-color: #5BA3D6;
    color: white;
    font-size: 13px;
    font-family: Arial;
}

textarea{
	width: 300px;
	height: 150px;
    border: 2px solid white;
    background-color: #5BA3D6;
    color: white;
    font-size: 13px;
    font-family: Arial;
    outline: none;
    padding: 10px;
}

textarea:focus {
	border: 2px solid #2A6A98;
}

input[type="tel"] {
	background-color: #5BA3D6;
	border: 2px solid white;
	padding: 10px; 
	outline: none;
	color: white;
	font-size: 13px;
	font-family: Arial;
	width: 300px;
}

input[type="tel"]:focus {
	border: 2px solid #2A6A98;
}












